body {
    margin:0;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: rgb(189, 67, 22);
    padding-right: 100px;
    padding-left: 100px;
    background-color: rgb(246, 236, 204);
}
.arrows {
    width: 10%;
}
.apples {
    width: 60%;
}

